/*------------------------------
        Section userMove
------------------------------*/
@import "component/score.css";

/*------------------------------
          Section Game
------------------------------*/
@import "component/card.css";
@import "component/victory.css";

/*------------------------------
            Général
------------------------------*/
body {
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: url('../img/background_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 2.5rem;
    color: #f58163;
    text-align: center;
    padding: 1rem 0 2rem 0;
    font-weight: bold;

}

main {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

/*------------------------------
           Responsive
------------------------------*/
@media screen and (min-width: 900px) {
    
    h1 {
        font-size: 4rem;
        font-weight: normal;
    }

    main {
        margin: 1rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    section.score,
    section.userMove{
        width: 25%;
    }
}